---
import LoginModal from '../auth/LoginModal.jsx';
import RegisterModal from '../auth/RegisterModal.jsx';
import HeaderContent from '../common/HeaderContent.jsx';
---

<header>
    <HeaderContent
    logoSrc="/media/cechLogo.png"
    titleLine1="Colegio de Enfermeria"
    titleLine2="Del Chaco"
    loginButtonText="Iniciar Sesión"
    client:load /> 
  </div>
  <LoginModal client:load />
  <RegisterModal client:load />
</header>

