---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página no autenticada">
  <main class="container mx-auto mt-8 p-4 h-screen">
    <h1 class="text-3xl font-bold mb-4">Página no autenticada</h1>
    <p class="mb-4">
      Esta página no está disponible para usuarios no autenticados. Por favor, autentique-se para acceder a esta página.
    </p>
    <a href="/" class="font-medium text-indigo-600 hover:text-indigo-500">Volver a la página principal</a>
  </main>
</Layout>