---
import Layout from '../layouts/Layout.astro';
import UserProfile from '../components/user/UserProfile.jsx';
import LoadingSpinner from '../components/common/LoadingSpinner.astro';
---

<Layout title="Perfil">
  <main class="container mx-auto mt-8 p-4 h-screen">
    <h1 class="text-3xl font-bold mb-4">Perfil de Usuario</h1>
    <LoadingSpinner id="loading-spinner" />
    <UserProfile client:load />
  </main>
</Layout>

<script>
  function hideLoadingSpinner() {
    const loadingSpinner = document.getElementById('loading-spinner');
    if (loadingSpinner) {
      loadingSpinner.style.display = 'none';
    }
  }

  function checkAdminDashboardLoaded() {
    const adminDashboardLoading = document.getElementById('admin-dashboard-loading');
    if (!adminDashboardLoading) {
      hideLoadingSpinner();
    } else {
      setTimeout(checkAdminDashboardLoaded, 500); // Check again after 100ms
    }
  }

  document.addEventListener('astro:page-load', () => {
    checkAdminDashboardLoaded();
  });
</script>