---
import LoginModal from './LoginModal.jsx';
import RegisterModal from './RegisterModal.jsx';
import HeaderContent from './HeaderContent.jsx';
---

<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <img src="/favicon.svg" alt="Logo de Colegio de Enfermeria" class="w-16 h-16 object-contain" />
    <HeaderContent client:load /> 
  </div>
  <LoginModal client:load />
  <RegisterModal client:load />
</header>